# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/lyvo

# JWT Configuration
JWT_SECRET=your_jwt_secret_here

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@lyvo.com

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dxtfnvxmz
CLOUDINARY_API_KEY=235414887552528
CLOUDINARY_API_SECRET=SAJlO8Ahv3POCrJ8OGIWlkMYmcE 